*{
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgba(170, 208, 241, 0.6);
}
header{
    background-color: rgb(170, 208, 241);
    box-shadow: 2px 3px 3px teal;
}
div{
    text-align: center;
    margin-top: 20px;
}
input#pais{
    width: 35px;
    
}
