*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: rgba(170, 208, 241, 0.6);
}
header{
    background-color: rgb(170, 208, 241);
    box-shadow: 2px 3px 3px teal;
}
header>h1{
    margin-left: 85px;
}
div{
    text-align: center;
}
#conteudo{
    margin-top: 10%;
}
img{
    box-shadow: 3px 3px 10px black;
}
input{
    border-radius: 5px;
    border: 0px;
    padding: 3px;
    box-shadow: 3px 3px 3px black;
    opacity: 0.7;
}
input#pais{
    width: 35px;
}
div > p{            /* '>' usado com combinador/ seletor filho ('p' filho de 'div') */
    margin: 30px;
}
#submit{
    width: 200px;
    margin: 10px;
    height: 30px;
}
#submit:hover{
    opacity: 1;
    box-shadow: 3px 3px 3px teal;
}
#footer{
    width: 100%;
    height: auto;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: antiquewhite;
    color: teal;
}